 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

section {
    /* position: relative; */
    display: grid;
    grid-template-areas:
    "aktuellt verksamhetsomraden"
    "aktuellt kalender";
    grid-gap: 39px 94px; /* (1920-(1026 + 611))/3=94 535-208-291=36 */
    padding: 94px;
}

.aktuellt {
    grid-area: aktuellt;
    background-image: url("img/aktuellt.png");
    width: 1026px;
    height: 535px;
    background-size: cover;
}

h1 {
    font-size: 36px;
    position: absolute;
    top: 120px;
    left: 130px;
}

.text-block {
    position: absolute;
    top: 385px; /* Padding = 94 top, så (94+535)-(208+36)=385 */
    left: 130px; 
    background-color: rgba(54, 73, 102, 0.5);
    width: 954px; /* 130(left 130)-94(=padding)=36px på varje sida om text-block */
    height: 208px;
}

.aktuellt a {
    color: #FFF;
    text-decoration: none;
}

.aktuellt a:hover {
    text-decoration: underline;
}

.aktuellt h2 {
    font-size: 36px;
    padding: 29px 29px 0px 29px;
}

.aktuellt p {
    font-size: 24px;
    padding: 10px 29px 29px 29px;
}

.verksamhetsomraden {
    grid-area: verksamhetsomraden;
    background-color: #B1DAD1;
    color: #000;
    width: 611px;
    height: 208px;
}

.verksamhetsomraden h2 {
    position: absolute;
    font-size: 36px;
    position: absolute;
    top: 120px;
    left: 1250px;
}
.verksamhetsomraden p {
    position: absolute;
    font-size: 24px;
    top: 170px;
    left: 1250px;
}

.verksamhetsomraden a {
    color: #000;
    text-decoration: none;
}

.verksamhetsomraden a:hover {
    text-decoration: underline;
}

.kalender {
    grid-area: kalender;
    background-color: #f9dcd3;
    height: 291px;
    width: 611px;
    color: #000;
}

.kalender h2 {
    position: absolute;
    font-size: 36px;
    position: absolute;
    top: 340px;
    left: 1250px;
}


.kalender a {
    color: #000;
    text-decoration: none;
}

.kalender a:hover{
    text-decoration: underline;
}

.flex {
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    padding: 0px 30px 10px 15px;

}

.date {
font-size: 24px;
text-align: center;
}

.info{
align-self: center;
}