html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.three-boxes {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxone, .boxtwo, .boxthree {
    width: 320px;
    padding: 10px;
    margin: 10px;
    background-image: url(/Images/library.jpg);
    background-size: 100%, 100%;
}

.three-boxes article {
    color: white;
    background-color: rgba(54, 73, 102, 0.7);
    border-radius: 5px;
}

.buttonbox {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.buttonbox button {
    background-color: #1A3051;
    color: white;
    border-style: none;
    border-radius: 25px;
}

@media (max-width: 1080px) {
    .three-boxes {
        flex-flow: column wrap;
        align-content: center;
    }
}