* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

body {
  background-color: #f4f3f1;
}

main {
  max-width: 1290px;
  margin: 0 auto;
  background-color: #fff;
}

a {
  color: #034f7f;
  cursor: pointer;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
  background-color: #f9dcd3;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.menu-icon {
  color: #ffffff;
  line-height: 50px;
  padding: 12px;
  background-color: #1a3051;
  cursor: pointer;
  display: initial;
}

.main-menu {
  position: absolute;
  background-color: #1a3051;
  top: 90px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.main-menu ul {
  list-style-type: none;
  max-height: 0px;
  overflow: hidden;
}

.main-menu ul li {
  padding: 0 15px;
  margin: 0 0 5px 0;
}

.main-menu ul li:last-child {
  margin-bottom: 0px;
}

.main-menu ul li a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  width: 100%;
  background-color: #364966;
  color: #ffffff;
}

.main-menu ul li a:hover {
  text-decoration: underline;
}

.seperator {
  display: none;
}

#checkbox {
  display: none;
}

#checkbox:checked~nav ul {
  max-height: 250px;
  padding: 15px 0;
}

/* Search Header with field */

.search-header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 14px 25px;
  background-color: #1a3051;
}

.search-header fieldset {
  width: 100%;
  border-style: none;
  align-items: stretch;
}

.search-field {
  border-style: none;
  padding: 15px 20px;
  flex-grow: 1;
}

.search-btn {
  padding: 15px 20px;
  border-style: none;
  cursor: pointer;
  flex-shrink: 1;
}

/* Search Menu - three buttons */

.search-menu {
  background-color: #1a3051;
  padding: 0px 25px 20px;
}

.search-menu ul {
  display: flex;
  list-style: none;
}

.search-menu ul li {
  padding: 0px;
  /* överflödig? */
  margin: 0 10px;
  width: 100%;
}

.search-menu ul li:first-child {
  margin-left: 0;
}

.search-menu ul li:last-child {
  margin-right: 0;
}

.search-menu ul li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  width: auto;
  background-color: #364966;
  color: #fff;
  width: 100%;
}

/************ ANNA ************/

@media (min-width: 1080px) {
  header {
    padding: 14px 100px;
  }
  .menu-icon {
    display: none;
  }
  .main-menu {
    position: relative;
    top: 0px;
    background-color: transparent;
  }
  .main-menu ul {
    max-height: 70px;
    text-align: right;
  }
  .main-menu ul li {
    display: inline-flex;
    padding: 0px;
    margin: 0 5px;
  }
  .main-menu ul li:first-child {
    margin-left: 0;
  }
  .main-menu ul li:last-child {
    margin-right: 0;
  }
  .main-menu ul li a {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    width: auto;
    background-color: transparent;
    color: #034f7f;
  }
  .seperator {
    color: black;
  }
  .search-header {
    padding: 20px 100px;
  }
  .search-menu {
    padding: 0px 100px 20px;
  }
}

@media (max-width: 554px) {
  .search-menu ul {
    display: flex;
    flex-direction: column;
  }
  .search-menu ul li:nth-child(1) {
    margin-bottom: 10px;
  }
  .search-menu ul li:last-child {
    margin-top: 10px;
    margin-left: 0;
  }
  .search-menu ul li:nth-child(2) {
    margin-left: 0;
  }
}

/* ANNA */

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 50px 25px 50px;
}

.col1 {
  background-image: url("img/aktuellt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  min-height: 400px;
  overflow: hidden;
  opacity: 0.8;
}

.col1:hover, .boxone:hover, .boxtwo:hover, .boxthree:hover {
  opacity: 1;
}

.col2 {
  background: #b1dad1;
  position: relative;
  color: #000;
  min-height: 100px;
  padding: 20px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.col2:hover, .col2:focus, .col2:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.col3 {
  background: #f9dcd3;
  position: relative;
  color: #000;
  min-height: 150px;
  padding: 20px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.col3:hover, .col:focus, .col2:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.verksamhetsomraden p {
  padding-top: 20px;
}

.kalender-date {
  font-size: 36px;
}

.header-title {
  font-size: 24px;
  font-weight: normal;
  position: absolute;
  top: 0;
  margin: 30px;
}

.header-title a {
  color: #fff;
  text-decoration: none;
}

.header-title a:hover {
  text-decoration: underline;
}

.textblock {
  position: absolute;
  bottom: 0;
  margin: 30px;
  width: 80%;
  background-color: rgba(54, 73, 102, 0.5);
  padding: 20px;
}

.textblock a {
  color: #fff;
  text-decoration: none;
}

.textblock a:hover {
  text-decoration: underline;
}

.verksamhetsomraden {
  position: relative;
}

.kalender {
  position: relative;
}

.datin a, .verksamhetsomraden a {
  color: #000;
  text-decoration: none;
}

.datin a:hover, .verksamhetsomraden a:hover {
  text-decoration: underline;
}

.wrapin {
  display: grid;
  gap: 20px 20px;
}

.datin {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: "hd hd hd hd hd hd hd hd hd" "sd sd main main main main main main main";
  gap: 20px 0px;
}

@media (min-width: 768px) {
  .wrapin {
    grid-template-columns: 70% auto;
    height: auto;
  }
  .header-date {
    grid-area: hd;
  }
  .date {
    grid-area: sd;
    font-size: 26px;
    margin: 0 20px 0 0;
    text-align: center;
  }
  .date-text {
    grid-area: main;
  }
  .col1 {
    grid-row: 1 / span 2;
  }
}

@media (max-width: 768px) {
  .wrapin {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .col1 {
    grid-column: 1 / span 3;
    opacity: 1;
  }
  .col2 {
    grid-column: 1 / span 3;
  }
  .col3 {
    grid-column: 1 / span 3;
    min-height: 100px;
  }
  .datin {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd" "sd main main main main main main main main";
    gap: 20px 0px;
  }
  .header-date {
    grid-area: hd;
  }
  .date {
    grid-area: sd;
    font-size: 26px;
    margin: 0 20px 0 0;
    text-align: center;
  }
  .date-text {
    grid-area: main;
  }
  .textblock {
    width: 78%;
  }
}

/* Joshua */

.three-boxes {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 50px 25px 50px;
}

.box-article-first {
  height: 320px;
  width: 100%;
  color: white;
  position: relative;
  background-image: url(img/library.jpg);
  background-size: 100%, 100%;
  background-size: cover;
  overflow: hidden;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.box-article-middle {
  height: 320px;
  width: 100%;
  color: white;
  position: relative;
  background-image: url(img/publikationer.jpg);
  background-size: 100%, 100%;
  background-size: cover;
  overflow: hidden;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.box-article-last {
  height: 320px;
  width: 100%;
  color: white;
  position: relative;
  background-image: url(img/statistik.jpg);
  background-size: 100%, 100%;
  background-size: cover;
  overflow: hidden;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.box-article-first:hover, .box-article-middle:hover, .box-article-last:hover {
  filter: brightness(100%);
}

.box-article-textblock {
  position: absolute;
  bottom: 0;
  margin: 20px;
  max-width: 100%;
  background-color: rgba(54, 73, 102, 0.7);
  padding: 13px;
  font-weight: 700;
}

.linkbox {
  width: 100%;
}

.linkbox:nth-child(1) {
  margin-right: 10px;
}

.linkbox:nth-child(2) {
  margin: 0 10px;
}

.linkbox:nth-child(3) {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .three-boxes {
    padding: 10px;
  }
  .three-boxes {
    flex-flow: column wrap;
    align-content: center;
  }
  .box-article-textblock {
    position: absolute;
    bottom: 0;
    margin: 20px;
    max-width: 100%;
    background-color: rgba(54, 73, 102, 0.7);
    padding: 13px;
    font-weight: 700;
  }
  .linkbox:nth-child(1) {
    margin: 0 0 5px 0;
  }
  .linkbox:nth-child(2) {
    margin: 5px 0px;
  }
  .linkbox:nth-child(3) {
    margin: 5px 0 0 0;
  }
}

/* Pernilla */

#container-parallax {
  background-image: url("img/parallax-image3.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 25px 0px 25px 0px;
}

#parallax-text {
  position: absolute;
  background-color: rgba(54, 73, 102, 0.8);
  margin: 100px;
  padding: 40px;
  bottom: 0;
  width: 450px;
}

.parallax-text__h2 {
  color: white;
  font-weight: normal;
  font-size: 2.25em;
}

@media (max-width: 675px) {
  #parallax-text {
    margin: auto;
    position: absolute;
    bottom: 50%;
    top: 50%;
    height: 200px;
    width: 100%;
  }
}

/************ NOUMAN ************/

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.col1, .boxone, .boxtwo, .boxthree, #container-parallax {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

.max-width__boxes {
  padding: 25px 50px 25px 50px;
}

.boxes__content {
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.left-column {
  flex: 1;
  box-sizing: border-box;
  padding-right: 20px;
}

.left-column a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.left-column a:hover {
  text-decoration: underline;
}

.left-column__pressmeddelanden {
  background-color: #b1dad1;
  color: black;
  height: 150px;
  width: 100%;
}

.left-column__ledigajobb, .left-column__epale {
  margin-top: 20px;
}

.left-column__pressmeddelanden__title, .left-column__ledigajobb__title, .left-column__epale__title {
  font-size: 18px;
  position: relative;
  font-weight: 500;
  padding: 20px;
}

.left-column__ledigajobb {
  background-color: #f9dcd3;
  color: black;
  height: 150px;
  width: 100%;
}

.left-column__ledigajobb__text {
  position: relative;
  color: #000;
}

.aktuellt p {
  padding: 0 10px;
}

.left-column__epale a {
  color: #ffffff;
}

.left-column__ledigajobb__text, .left-column__epale__text, .aktuellt__article-one__content__text, .aktuellt__article-two__content__text, .aktuellt__article-three__content__text {
  font-size: 14px;
  padding: 0px 10px;
}

.left-column__epale {
  background-color: #364966;
  color: white;
  height: 150px;
  width: 100%;
}

.left-column__pressmeddelanden__text, .left-column__ledigajobb__text, .left-column__epale__text {
  font-size: 14px;
  padding: 0 20px;
}

.aktuellt {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.aktuellt__title {
  font-size: 18px;
  position: relative;
  font-weight: 500;
  padding: 10px 0 20px;
}

.aktuellt img {
  width: 180px;
}

.aktuellt a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.aktuellt a:hover {
  text-decoration: underline;
}

.aktuellt__article-one, .aktuellt__article-two, .aktuellt__article-three {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.aktuellt__article__content__date {
  padding-right: 10px;
  color: #696969;
}

.aktuellt__article-two .aktuellt__article-two__title .aktuellt__article-two__content {
  display: flex;
  flex-direction: column;
}

.aktuellt__article-one__img, .aktuellt__article-two__img, .aktuellt__article-three__img {
  width: 180px;
  height: 114px;
}

.aktuellt__article-one__title, .aktuellt__article-two__title, .aktuellt__article-three__title {
  font-size: 16px;
  padding: 0 10px 10px;
}

@media (max-width: 1080px) {
  .boxes__content {
    flex-direction: column;
  }
  .left-column {
    padding-right: 0;
  }
  .aktuellt {
    margin: 0 20px;
  }
  .aktuellt__title {
    padding-top: 40px;
  }
}

/************ /NOUMAN ************/

/* Björn */

.about {
  grid-area: about;
}

.links {
  grid-area: links;
}

.areas {
  grid-area: areas;
}

.news {
  grid-area: news;
}

.contact {
  grid-area: contact;
}

footer {
  background-color: #1a3051;
  width: 100%;
  margin-top: 25px;
}

footer>section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "about links contact" "areas news contact";
  padding: 20px;
  width: 100%;
}

footer>section>article {
  font-family: Roboto;
  color: white;
  padding: 20px;
}

footer>section>article>h2 {
  font-size: 18px;
}

footer>section>article>ul {
  list-style: none;
  padding-top: 10px;
}

footer>section>article>ul>li {
  padding-top: 10px;
}

@media (min-width: 1080px) {
  header {
    padding: 14px 100px;
  }
  .menu-icon {
    display: none;
  }
  .main-menu {
    position: relative;
    top: 0px;
    background-color: transparent;
  }
  .main-menu ul {
    max-height: 70px;
    text-align: right;
  }
  .main-menu ul li {
    display: inline-flex;
    padding: 0px;
    margin: 0 5px;
  }
  .main-menu ul li:first-child {
    margin-left: 0;
  }
  .main-menu ul li:last-child {
    margin-right: 0;
  }
  .main-menu ul li a {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    width: auto;
    background-color: transparent;
    color: #034f7f;
  }
  .seperator {
    color: black;
  }
  .search-header {
    padding: 20px 100px;
  }
  .search-menu {
    padding: 0px 100px 20px;
  }
}

@media (min-width: 768px) {
  .wrapin {
    grid-template-columns: 70% auto;
    height: auto;
  }
  .header-date {
    grid-area: hd;
  }
  .date {
    grid-area: sd;
    font-size: 26px;
    margin: 0 20px 0 0;
    text-align: center;
  }
  .date-text {
    grid-area: main;
  }
  .col1 {
    grid-row: 1 / span 2;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px 10px 5px 10px;
  }
  footer>section {
    padding: 0px;
  }
  .max-width__boxes {
    padding: 5px 10px 5px 10px;
  }
  .wrapin {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .col1 {
    grid-column: 1 / span 3;
  }
  .wrapin {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .col1 {
    grid-column: 1 / span 3;
  }
  .wrapin {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .col1 {
    grid-column: 1 / span 3;
  }
  .wrapin {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .col1 {
    grid-column: 1 / span 3;
  }
  .col2 {
    grid-column: 1 / span 3;
  }
  .col3 {
    grid-column: 1 / span 3;
    min-height: 100px;
  }
  .datin {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd" "sd main main main main main main main main";
    gap: 20px 0px;
  }
  .header-date {
    grid-area: hd;
  }
  .date {
    grid-area: sd;
    font-size: 26px;
    margin: 0 20px 0 0;
    text-align: center;
  }
  .date-text {
    grid-area: main;
  }
}

@media (max-width: 1020px) {
  footer>section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "about contact" "areas contact" "links news";
    width: 100%;
  }
}

@media (max-width: 700px) {
  footer>section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "about" "areas" "links" "news" "contact" "contact";
    width: 100%;
  }
}
